<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nazwa eksportu</th>
        <th scope="col">Data i godzina eksportu</th>
        <th scope="col">Nazwa użytkownika</th>
        <th scope="col">Nazwa lokalu</th>
    </tr>
    </thead>
    <tbody>
    {% for exportHistory in exportsHistory %}
        <tr scope="row">
            <td>{{ exportHistory.id }}</td>
            <td>{{ exportHistory.name }}</td>
            <td>{{ exportHistory.createdAt|date('Y-m-d H:i:s') }}</td>
            <td>{{ exportHistory.userName }}</td>
            <td>{{ exportHistory.locationName }}</td>
        </tr>
    {% else %}
        <tr scope="row">
            <td colspan="5" class="text-center">Brak wyników</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
